<h3>Bet Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @bet.name %><br /><br />

<strong>Description:&nbsp;&nbsp;</strong><br /> 
  <%= @bet.description %><br /><br />

<strong>Winner: &nbsp;&nbsp;</strong> 
  <%= @bet.winner_id.nil? ? "Undecided" : @bet.winner_id %><br /><br />


<strong>Accepted?: &nbsp;&nbsp;</strong>
  <%= @bet.accepted ? "Yes" : "No" %><br /><br />


<% if current_user.role == 'admin' or (@bet.member.user == current_user and @bet.accepted == false) %>
	<%= link_to "Edit this bet", edit_bet_path(@bet), class: "button tiny radius" %>&nbsp;&nbsp;
<% end %>