<table class="table">
  <tr>
    <th width="400">Bet</th>
    <th width="100">Challenger</th>
    <th width="100"></th>
    <th width="10"></th>
    <th width="100"></th> 
    <th width="100">Challengee</th>
    <th width="100">Accepted?</th>

    <th></th>
    <th></th>
  </tr>

<% @bets.each do |bet| %>
  <tr>
    <td><div class="betName"><strong><i><%= link_to bet.name, bet_path(bet) %></i></strong>&nbsp;&nbsp;&nbsp;<div class="tag"><%= raw bet.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div></div></br><div align="center"><%= bet.description %></div></td>
    <td align="center"><%= bet.member.proper_name %></td>
    <% if bet.member.user.picture != nil %>
      <td align="center"><%= image_tag(bet.member.user.picture, height: '64', width: '64') %></td>
    <% else %>
      <td align="center"><%= image_tag("blank-profile.jpg", height: '64', width: '64') %></td>
    <% end %>
    <td align="center"><p> vs.</p></td>
    <% if Member.find(bet.challengee_id).user.picture != nil %>
      <td align="center"><%= image_tag(Member.find(bet.challengee_id).user.picture, height: '64', width: '64') %></td>
    <% else %>
      <td align="center"><%= image_tag("blank-profile.jpg", height: '64', width: '64') %></td>
    <% end %>
    <td align="center"><%= Member.find(bet.challengee_id).proper_name %></td>
    <td align="center"> <% if bet.accepted %><i class="fa fa-check"></i> <% end %> </td>
    <td><%= link_to 'View', bet_path(bet), class: "button tiny radius" %></td>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
  <% puts @bets %>
<%= will_paginate @bets, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>