  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= image_tag "gblogo.png", :size => "100x100", :alt => "logo" %>
        </li>
      </ul>
      <section class="top-bar-section">
        
        <ul class="left">
          <!-- options for curriculums -->
          <li class="has-dropdown">
            <% if can? :read, Bet %>
              <%= link_to "Bets", bets_path %>
            <% end %>
            <ul class="dropdown">
              <li><%= link_to "List Bets", bets_path %></li>
              <li><%= link_to "Make a Bet", new_bet_path %></li>
              <li><%= link_to "Pending Bets", pending_path %></li>
            </ul>
          </li>

          <!-- options for camps -->
          <li class="has-dropdown">
            <% if can? :read, Member %>
              <%= link_to "Members", members_path %>
            <% end %>
            <ul class="dropdown">
              <li><%= link_to "List Members", members_path %></li>
              <li><%#= link_to "Add a Member", new_member_path %></li>
            </ul>
          </li>


        <ul class="right">
          <% if current_user %>
            Welcome <%= current_user.username %>!
            <%= link_to "Sign Out", signout_path %>
            <% if current_user.picture != nil %>
              <%=image_tag(current_user.picture, height: '64', width: '64') %>
            <% else %>
              <%= image_tag("blank-profile.jpg", height: '64', width: '64') %>
            <% end %>
          <% else %>
            <%#= link_to "Sign in with Twitter", "/auth/twitter" %>
            <a href="/auth/twitter" class="auth_provider">
              <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
            </a>
            <a href="/auth/facebook" class="auth_provider">
              <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Twitter" %>
            </a>
          <% end %>
          <%# if logged_in? %>
            <%#= link_to 'Logout', logout_path %>
            <%#= current_user.username %>
          <%# else %>
            <%#= link_to 'Login', login_path %>
          <%# end %>
        </ul>
      </section>
    </nav>
  </div>