<h3>Member Details</h3><br />

<% if @member.user.picture != nil %>
	<%=image_tag(@member.user.picture, height: '64', width: '64') %>
<% else %>
	<%= image_tag("blank-profile.jpg", height: '64', width: '64') %>
<% end %>

</br></br>
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @member.proper_name %><br /><br />

<strong>Age:&nbsp;&nbsp;</strong> 
  <%= @member.age %><br /><br />

 <strong>Number of bets:&nbsp;&nbsp;</strong> 
  <%= @member.number_of_bets %><br /><br />

<strong>Bets Won:&nbsp;&nbsp;</strong> 
  <%= @member.bets_won %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @member.active ? "Yes" : "No" %><br /><br />

<% if not @member.user.nil? %>
    <%= render :partial =>"user_details" %>
<% end %>

<%# if current_user.member_id == @member.id %>
	<%= link_to "Edit Info", edit_member_path(@member), class: "button tiny radius" %>&nbsp;&nbsp;
<%# end %>